.page {
  min-height: 100vh;
  width: 100%;
}

.main {
  width: 100%;
}

@media (min-width: 769px) and (max-width: 1500px) {
  /* .main {
    padding: 0 2rem;
  } */
   .content{
    padding-top: 8rem;
   }
}
